.form{
    @include center;
    flex-direction: column;
    gap: 14px;
    width: 30%;

    @media screen and (max-width: 880px) {
        width: 80%;
    }

    &__input{
        width: 100%;
        height: 48px;
        border-radius: 62px;
        background-color: #fff;
        border: none;
        color: var(--bacground-color);
        padding-left: 52px;

        @media screen and (max-width: 880px) {
            padding-left: 45px;
        }

        &-icon{
            position: absolute;
            z-index: 2;
            transform: translate(-150px, -31px);

            @media screen and (max-width: 880px) {
                transform: translate(-8rem, -31px);
            }
        }
    }

    &__btn{
        width: 100%;
        height: 48px;
        border-radius: 62px;
        background-color: #fff;
        border: none;
        color: #000;
        @include text(16px, 500, 1.35);

        &:hover{
            background-color: #000;
            border: 1px solid #fff;
        color: #fff;
        }
    }
}