.rating {
  position: relative;
  display: inline-block;
  font-size: 19px;
  line-height: 1;
  color: gray;
}

.stars-background {
  color: gray;
}

.stars-filled {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  color: var(--star-coolor);
  overflow: hidden;
  white-space: nowrap;
}
