.footer{
    margin-top: 90px;
background-color: var(--bacground-color);
padding-bottom: 82px;

&__container{
    @include center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

&__form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #000;
    border-radius: 20px;
    margin-top: -7%;

    &-title{
        color: #fff;
        @include text(40px, 700, 1.2);
        width: 45%;
    }
}

&__nav{
    width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;

}

&__block{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &-logo{
        width: 167px;
        height: 23px;
        margin-left: -8px;
    }

    &-text{
        @include text(14px, 400, 1.57);
        color: var(--text-color);
    }

    &-icons{
        display: flex;
        flex-direction: row;
        gap: 12px;
        
    }

    &-icon{
        @include center;
        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 50%;
        padding: 7px;

    }
}

&__links{
    display: flex;
    flex-direction: column;
    gap: 26px;
    @include text(16px, 400, 1.2);
    

    &-title{
        letter-spacing: 3px;
        color: #000;
    }

    &-list{
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    &-item{
        color: var(--text-color);
    }
}

&__root{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-top: 1px solid #0000001A;
    padding-top: 25px;
    

    &-text{
        color: var(--text-color);
        @include text(14px, 400, 1.35);
    }

    &-payments{
        @include center;
        flex-direction: row;
        gap: 12px;

    }

    &-img{
        @include center;
        width: 46px;
        height: 30px;
        background-color: #fff;
        border-radius: 5px;
    }
}

}