.review-section{
    padding-bottom: 50px;

    &__container{
        width: 100%;
        @include center;
        flex-direction: column;
        gap: 40px;
    }

    &__name{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

    }

    &__title{
        @include text(48px, 700, 1.2);
        font-family: 'Poppins', sans-serif;

        @media screen and (max-width: 880px) {
            @include text(32px, 700, 1.2);
    
        }
    }

    &__icons{
        display: flex;
        align-items: center;
        gap: 16px;

        &-arrow{           

            &::before{
                width: 32px;
                height: 32px;
            }
        }
    }

    &__reviews,
    .swiper-wrapper{
        @include center;
        flex-direction: row;
        gap: 20px;
        padding-bottom: 50px;
    }

    &__star{
        font-size: 24px;
        color: var(--star-coolor); 
    }
}

.swiper{
    width: 100%;
      
}

